name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Prevent multiple simultaneous test runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        id: docker-image
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,type=inline
          context: .
          file: Dockerfile
          load: true
          tags: farcasterxyz/fname-registry:test

  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version-file: '.node-version'
          cache: 'yarn'

      - name: Install dependencies
        run: |
          npm install -g node-gyp
          yarn install

      - name: Lint
        run: yarn lint

  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Start background services
        run: docker compose up --detach postgres
        shell: bash

      - uses: actions/setup-node@v5
        with:
          node-version-file: '.node-version'
          cache: 'yarn'

      - name: Install dependencies
        run: |
          npm install -g node-gyp
          yarn install

      - name: Create test DB
        run: echo 'create database registry_test' | PGPASSWORD=password psql -h localhost -p 6543 -U app registry_dev
        shell: bash

      - name: Run tests
        env:
          OP_ALCHEMY_SECRET: 'dummy'
          MAINNET_ALCHEMY_SECRET: 'dummy'
          INFURA_PROJECT_ID: 'dummy'
          INFURA_PROJECT_SECRET: 'dummy'
          ETHERSCAN_API_SECRET: 'dummy'
          WARPCAST_ADDRESS: 'dummy'
          CCIP_ADDRESS: '0x4ea0be853219be8c9ce27200bdeee36881612ff2'
        run: yarn test
